<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.chen.rfid.mapper.system.MailSendLogMapper">

    <update id="updateMailSendLogStatus">
        update mail_send_log set status = #{status} where msgId = #{msgId}
    </update>

    <insert id="insert" parameterType="org.chen.rfid.model.MailSendLog">
        insert into mail_send_log (msgId,empId,routeKey,exchange,tryTime,createTime) values (#{msgId},#{empId},#{routeKey},#{exchange},#{tryTime},#{createTime});
    </insert>

    <!--
        查询需要处理的邮件（0表示投递中的，并且重试时间小于当前时间）
    -->
    <select id="findMailSendLogByStatus" resultType="org.chen.rfid.model.MailSendLog">
        SELECT
        *
        FROM
        mail_send_log
        WHERE
        STATUS = 0
        AND tryTime &lt; sysdate()
    </select>

    <update id="updateCount">
        update mail_send_log set count = count+1,updateTime=#{date} where msgId = #{msgId}
    </update>

</mapper>