<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.chen.rfid.mapper.station.VisitorsMapper">
    <!--统计最近7天访客量-->
    <select id="findLastVisitors" resultType="org.chen.rfid.model.vo.VisitorsVo">
        select DATE_FORMAT(date,'%Y%-%m-%d') days,count(*) count from t_visitors group by days DESC LIMIT 7;
    </select>
</mapper>