<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.chen.rfid.mapper.security.MenuMapper">
    <resultMap id="BaseResultMap" type="org.chen.rfid.model.security.Menu">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="component" property="component" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="iconCls" property="iconCls" jdbcType="VARCHAR"/>
        <result column="parentId" property="parentId" jdbcType="BIGINT"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
        <association property="meta" javaType="org.chen.rfid.model.security.Meta">
            <result column="keepalive" property="keepalive" jdbcType="BIT"/>
            <result column="requireAuth" property="requireAuth" jdbcType="BIT"/>
        </association>
    </resultMap>

    <resultMap id="Menus2" type="org.chen.rfid.model.security.Menu" extends="BaseResultMap">
        <collection property="children" ofType="org.chen.rfid.model.security.Menu">
            <id column="id2" property="id" jdbcType="BIGINT"/>
            <result column="url2" property="url" jdbcType="VARCHAR"/>
            <result column="path2" property="path" jdbcType="VARCHAR"/>
            <result column="component2" property="component" jdbcType="VARCHAR"/>
            <result column="name2" property="name" jdbcType="VARCHAR"/>
            <result column="iconCls2" property="iconCls" jdbcType="VARCHAR"/>
            <result column="parentId2" property="parentId" jdbcType="BIGINT"/>
            <result column="enabled2" property="enabled" jdbcType="BIT"/>
            <association property="meta" javaType="org.chen.rfid.model.security.Meta">
                <result column="keepAlive2" property="keepalive" jdbcType="BIT"/>
                <result column="requireAuth2" property="requireAuth" jdbcType="BIT"/>
            </association>
        </collection>
    </resultMap>

    <select id="getMenusByUserId" resultMap="Menus2">
SELECT DISTINCT
   m1.*, m2.id AS id2,
   m2.component AS component2,
   m2.enabled AS enabled2,
   m2.iconCls AS iconCls2,
   m2.keepAlive AS keepAlive2,
   m2.`name` AS name2,
   m2.parentId AS parentId2,
   m2.requireAuth AS requireAuth2,
   m2.path AS path2
FROM
   t_menu m1,
   t_menu m2,
   user_role userr,
   menu_role mr
WHERE
   m1.id = m2.parentId
AND userr.userid = #{user_id}
AND userr.rid = mr.rid
AND mr.mid = m2.id
AND m2.enabled = TRUE
ORDER BY
   m1.id,
   m2.id
  </select>

    <resultMap id="MenuWithRole" type="org.chen.rfid.model.security.Menu" extends="BaseResultMap">
        <collection property="roles" ofType="org.chen.rfid.model.security.Role">
            <id column="r_id" property="id"/>
            <result column="r_name" property="name"></result>
            <result column="r_nameZh" property="nameZh"></result>
        </collection>
    </resultMap>
    <select id="getAllMenusWithRole" resultMap="MenuWithRole">
      SELECT
   m.*, r.id AS r_id,
   r.`name` AS r_name,
   r.nameZh AS r_nameZh
FROM
   t_menu m,
   menu_role mr,
   t_role r
WHERE
   m.id = mr.mid
AND mr.rid = r.id ORDER BY m.id
    </select>
    <resultMap id="MenuWithChirdred" type="org.chen.rfid.model.security.Menu" extends="BaseResultMap">
        <id column="id1" property="id"></id>
        <result column="name1" property="name"></result>
        <collection property="children" ofType="org.chen.rfid.model.security.Menu">
            <id column="id2" property="id"></id>
            <result column="name2" property="name"></result>
            <collection property="children" ofType="org.chen.rfid.model.security.Menu">
                <id column="id3" property="id"></id>
                <result column="name3" property="name"></result>
            </collection>
        </collection>
    </resultMap>
    <select id="getAllMenus" resultMap="MenuWithChirdred">
        SELECT
	m1.id AS id1,
  m1.`name` AS name1,
  m2.id AS id2,
  m2.`name` AS name2,
  m3.id AS id3,
  m3.`name` AS name3
FROM
	t_menu m1,
	t_menu m2,
	t_menu m3
WHERE
	m1.id = m2.parentId
AND m2.id = m3.parentId
AND m3.enabled = TRUE ORDER BY m1.id,m2.id,m3.id
    </select>

    <select id="getMidsByRid" resultType="java.lang.Long">
        select mid from menu_role where rid = #{rid}
  </select>

</mapper>